{#
 # Header
 #
 # @package WordPress
 # @subpackage Courbes
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 #}

<header class="py-10 fixed top-0 inset-x-0 z-20 [.is-on-top_&]:bg-transparent bg-white transition-colors duration-300 ease-in-out">
	<div class="container flex flex-col lg:flex-row gap-2.5 lg:gap-5 justify-between lg:items-center">
		<a href="{{ site.link }}" aria-label="{{ site.title }}" class="shrink-0">
			<img class="max-w-full h-auto w-28 block" src="{{ asset( 'src/img/svg/logo.svg' ) }}" alt="" width="215" height="37">
		</a>
		<div class="flex flex-col lg:flex-row gap-2.5 lg:gap-5 lg:items-center text-lg font-bold">
			<p>{{ header.title }}</p>
			<a href="tel:{{ header.link.url }}" class="inline-block align-bottom hover:underline">{{- header.link.title -}}</a>
		</div>
	</div>
</header>
